
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="same-line">
    <ol class="breadcrumb first">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Transaction Category Register</li>
    </ol>
    <div class="myBtnDiv">
      <a href="<%= transac_categs_path %>">Index</a>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-9">
    <%= form_for @transacCateg, html: {class:'form-horizontal', id:'reg_form'} do |f| %>
      <fieldset>
        <!-- Form Name -->
      <legend> Transactions Category Register </legend>
      <!-- Text input-->
      <div class="form-group">
        <div class="col-md-6  inputGroupContainer">
          <%= f.label :title %>
          <div class="input-group"></i></span>
            <%= f.text_field :title, id:'title', name:'title', class: 'form-control', placeholder: 'Here goes the  title type' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6  inputGroupContainer">
          <%= f.label :description %>
          <div class="input-group"></i></span>
            <%= f.text_field :description, id:'description', name:'description', class: 'form-control', placeholder: 'Here goes the description type' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6  inputGroupContainer">
          <%= f.label :transaction_type %>
          <div class="input-group"></i></span>
            <% categs = TransactionType.all.map { |transacType| [transacType.description, transacType.id] } %>
            <%= f.select :transaction_type, options_for_select(categs), html: {id:'transaction_type', class: 'form-control', placeholder: 'Here goes the type'} %>

          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4">
          <%= f.submit 'submit', class: 'btn btn-warning' %>
        </div>
      </div>
    </fieldset>
    <% end %>
    </div>
  </div>
</div>
