
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="same-line space-between">
    <ol class="breadcrumb first">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Transaction Category List</li>
    </ol>
    <div class="myBtnDiv">
      <a href="<%= new_transac_categ_path %>" >New Category</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Transaction Category Table</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Description</th>
              <th>Type</th>
              <th>
                <i class="fa fa-cog"></i>
              </th>
            </tr>
          </thead>
          <% @transacCategs.each do |transacCateg| %>
            <tbody>
              <tr>
                <td><%= transacCateg.id %></td>
                <td><%= transacCateg.title %></td>
                <td><%= transacCateg.description %></td>
                <td><%= transacCateg.transaction_type.description %></td>
                <th>
                  <%= link_to edit_transac_categ_path(transacCateg) do %>
                    <i class="fa fa-fw fa-edit"></i> |
                  <% end %>
                  <%= link_to(transac_categs_path(transacCateg),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}
                      ) do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </th>
              </tr>
            </tbody>
          <% end %>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Description</th>
              <th>Type</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
