<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="same-line space-between">
    <ol class="breadcrumb first">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Payee / Customer Type List</li>
    </ol>
    <div class="myBtnDiv">
      <a href="<%= new_payee_customer_type_path %>" >New Type</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header"> 
      <i class="fa fa-table"></i> Payee / Customer Type Table</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Description</th>
              <th>
                <i class="fa fa-cog"></i>
              </th>
            </tr>
          </thead>
          <% @payeeCustomerTypes.each do |payeeCustomerType| %>
            <tbody>
              <tr>
                <td><%= payeeCustomerType.id %></td>
                <td><%= payeeCustomerType.title %></td>
                <td><%= payeeCustomerType.description %></td>
                <th>
                  <%= link_to edit_payee_customer_type_path(payeeCustomerType) do %>
                    <i class="fa fa-fw fa-edit"></i> |
                  <% end %>
                  <%= link_to(payee_customer_types_path(payeeCustomerType),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}
                      ) do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </th>
              </tr>
            </tbody>
          <% end %>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
